In [1]:
import pandas as pd
import numpy as np

In [2]:
#read in spotify data
path = "Spotify_data.csv"

spotify = pd.read_csv(path)
spotify.head()

,Unnamed: 0,spotify_rank,song_name,artist,spotify_stream_count,spotify_peak_rank,spotify_previous_rank,spotify_streak_list,spotify_list_date,provider
0,0,1,Heat Waves,Glass Animals,"934,726",1,1,446,03/16/2022,spotify
1,1,2,Super Gremlin,Kodak Black,"733,927",2,3,108,03/16/2022,spotify
2,2,3,We Don't Talk About Bruno,"Carolina Gaitán - La Gaita, Mauro Castillo, Ad...","726,391",1,4,81,03/16/2022,spotify
3,3,4,Something In The Way,Nirvana,"723,210",2,2,11,03/16/2022,spotify
4,4,5,STAY (with Justin Bieber),"The Kid LAROI, Justin Bieber","679,258",1,5,251,03/16/2022,spotify

In [3]:
#read in apple data
path = "apple_data.csv"

apple = pd.read_csv(path)
apple.head()

,Unnamed: 0,apple_rank,song_name,artist,albums,song_length,apple_date_retrieved,provider
0,0,1,What Happened To Virgil (feat. Gunna),Lil Durk,7220,3:01,03/20/2022,apple
1,1,2,AHHH HA,Lil Durk,7220,3:06,03/20/2022,apple
2,2,3,Super Gremlin,Kodak Black,Sniper Gang Presents Syko Bob & Snapkatt: Nigh...,3:20,03/20/2022,apple
3,3,4,No Interviews,Lil Durk,7220,2:59,03/20/2022,apple
4,4,5,Petty Too (feat. Future),Lil Durk,7220,2:39,03/20/2022,apple

In [4]:
#join together csv files
main = pd.merge(spotify, apple, on="song_name", how="outer")
main.head()

,Unnamed: 0_x,spotify_rank,song_name,artist_x,spotify_stream_count,spotify_peak_rank,spotify_previous_rank,spotify_streak_list,spotify_list_date,provider_x,Unnamed: 0_y,apple_rank,artist_y,albums,song_length,apple_date_retrieved,provider_y
0,0.0,1.0,Heat Waves,Glass Animals,"934,726",1.0,1,446.0,03/16/2022,spotify,31.0,32.0,Glass Animals,Dreamland,3:58,03/20/2022,apple
1,1.0,2.0,Super Gremlin,Kodak Black,"733,927",2.0,3,108.0,03/16/2022,spotify,2.0,3.0,Kodak Black,Sniper Gang Presents Syko Bob & Snapkatt: Nigh...,3:20,03/20/2022,apple
2,2.0,3.0,We Don't Talk About Bruno,"Carolina Gaitán - La Gaita, Mauro Castillo, Ad...","726,391",1.0,4,81.0,03/16/2022,spotify,18.0,19.0,Carolina Gaitán - La Gaita,Encanto (Original Motion Picture Soundtrack),3:36,03/20/2022,apple
3,3.0,4.0,Something In The Way,Nirvana,"723,210",2.0,2,11.0,03/16/2022,spotify,51.0,52.0,Nirvana,Nevermind,3:52,03/20/2022,apple
4,4.0,5.0,STAY (with Justin Bieber),"The Kid LAROI, Justin Bieber","679,258",1.0,5,251.0,03/16/2022,spotify,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#fill in artist column from two original columns
#https://stackoverflow.com/questions/55117802/how-can-i-check-if-a-value-is-nan-or-a-list
for i, row in main.iterrows():
    value = row.artist_y
    if pd.isnull(value):
        main["artist"]= main.artist_x
main.head()

,Unnamed: 0_x,spotify_rank,song_name,artist_x,spotify_stream_count,spotify_peak_rank,spotify_previous_rank,spotify_streak_list,spotify_list_date,provider_x,Unnamed: 0_y,apple_rank,artist_y,albums,song_length,apple_date_retrieved,provider_y,artist
0,0.0,1.0,Heat Waves,Glass Animals,"934,726",1.0,1,446.0,03/16/2022,spotify,31.0,32.0,Glass Animals,Dreamland,3:58,03/20/2022,apple,Glass Animals
1,1.0,2.0,Super Gremlin,Kodak Black,"733,927",2.0,3,108.0,03/16/2022,spotify,2.0,3.0,Kodak Black,Sniper Gang Presents Syko Bob & Snapkatt: Nigh...,3:20,03/20/2022,apple,Kodak Black
2,2.0,3.0,We Don't Talk About Bruno,"Carolina Gaitán - La Gaita, Mauro Castillo, Ad...","726,391",1.0,4,81.0,03/16/2022,spotify,18.0,19.0,Carolina Gaitán - La Gaita,Encanto (Original Motion Picture Soundtrack),3:36,03/20/2022,apple,"Carolina Gaitán - La Gaita, Mauro Castillo, Ad..."
3,3.0,4.0,Something In The Way,Nirvana,"723,210",2.0,2,11.0,03/16/2022,spotify,51.0,52.0,Nirvana,Nevermind,3:52,03/20/2022,apple,Nirvana
4,4.0,5.0,STAY (with Justin Bieber),"The Kid LAROI, Justin Bieber","679,258",1.0,5,251.0,03/16/2022,spotify,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"The Kid LAROI, Justin Bieber"

In [6]:
main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 255 entries, 0 to 254
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0_x           200 non-null    float64
 1   spotify_rank           200 non-null    float64
 2   song_name              255 non-null    object
 3   artist_x               200 non-null    object
 4   spotify_stream_count   200 non-null    object
 5   spotify_peak_rank      200 non-null    float64
 6   spotify_previous_rank  200 non-null    object
 7   spotify_streak_list    200 non-null    float64
 8   spotify_list_date      200 non-null    object
 9   provider_x             200 non-null    object
 10  Unnamed: 0_y           100 non-null    float64
 11  apple_rank             100 non-null    float64
 12  artist_y               100 non-null    object
 13  albums                 100 non-null    object
 14  song_length            100 non-null    object
 15  apple_date_retrieved   100 non-null    object
 16  provider_y             100 non-null    object
 17  artist                 200 non-null    object
dtypes: float64(6), object(12)
memory usage: 37.9+ KB

In [7]:
#review rows that have no artist
mask = main.artist.isnull()
main.loc[mask]

,Unnamed: 0_x,spotify_rank,song_name,artist_x,spotify_stream_count,spotify_peak_rank,spotify_previous_rank,spotify_streak_list,spotify_list_date,provider_x,Unnamed: 0_y,apple_rank,artist_y,albums,song_length,apple_date_retrieved,provider_y,artist
200,NaN,NaN,No Interviews,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,4.0,Lil Durk,7220,2:59,03/20/2022,apple,NaN
201,NaN,NaN,Golden Child,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,6.0,Lil Durk,7220,1:54,03/20/2022,apple,NaN
202,NaN,NaN,Barbarian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,8.0,Lil Durk,7220,2:29,03/20/2022,apple,NaN
203,NaN,NaN,Shootout @ My Crib,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,9.0,Lil Durk,7220,2:33,03/20/2022,apple,NaN
204,NaN,NaN,Smoking & Thinking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,10.0,Lil Durk,7220,2:27,03/20/2022,apple,NaN
205,NaN,NaN,Headtaps,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,11.0,Lil Durk,7220,2:53,03/20/2022,apple,NaN
206,NaN,NaN,Started From,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,12.0,Lil Durk,7220,2:01,03/20/2022,apple,NaN
207,NaN,NaN,Computer Murderers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,13.0,Lil Durk,7220,2:19,03/20/2022,apple,NaN
208,NaN,NaN,Grow Up/Keep It On Speaker,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,15.0,Lil Durk,7220,3:16,03/20/2022,apple,NaN
209,NaN,NaN,Blocklist,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,16.0,Lil Durk,7220,2:06,03/20/2022,apple,NaN
210,NaN,NaN,Difference Is (feat. Summer Walker),NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,17.0,Lil Durk,7220,3:13,03/20/2022,apple,NaN
211,NaN,NaN,Thinking With My Dick (feat. Juicy J),NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,18.0,Kevin Gates,Stranger Than Fiction,2:45,03/20/2022,apple,NaN
212,NaN,NaN,Blick Blick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,20.0,Coi Leray,Blick Blick - Single,2:58,03/20/2022,apple,NaN
213,NaN,NaN,Federal Nightmares,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,21.0,Lil Durk,7220,2:31,03/20/2022,apple,NaN
214,NaN,NaN,Knife Talk (feat. 21 Savage & Project Pat),NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,24.0,Drake,Certified Lover Boy,4:02,03/20/2022,apple,NaN
215,NaN,NaN,Pissed Me Off,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,26.0,Lil Durk,7220,2:03,03/20/2022,apple,NaN
216,NaN,NaN,Sleazy Flow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,29.0,SleazyWorld Go,Sleazy Flow - Single,1:52,03/20/2022,apple,NaN
217,NaN,NaN,HANDSOMER (Remix) [feat. Ktlyn],NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,30.0,Russ,HANDSOMER (Remix) [feat. Ktlyn] - Single,2:23,03/20/2022,apple,NaN
218,NaN,NaN,Over,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,31.0,Lucky Daye,Over - Single,3:25,03/20/2022,apple,NaN
219,NaN,NaN,I Hate YoungBoy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,34.0,YoungBoy Never Broke Again,I Hate YoungBoy - Single,4:21,03/20/2022,apple,NaN
220,NaN,NaN,Sometimes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,35.0,Juice WRLD,Fighting Demons (Digital Deluxe),4:19,03/20/2022,apple,NaN
221,NaN,NaN,Way 2 Sexy (feat. Future & Young Thug),NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0,37.0,Drake,Certified Lover Boy,4:17,03/20/2022,apple,NaN
222,NaN,NaN,Do We Have A Problem?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,39.0,Nicki Minaj,Do We Have A Problem? - Single,3:27,03/20/2022,apple,NaN
223,NaN,NaN,STAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,42.0,The Kid LAROI,STAY - Single,2:21,03/20/2022,apple,NaN
224,NaN,NaN,Surface Pressure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,45.0,Jessica Darrow,Encanto (Original Motion Picture Soundtrack),3:22,03/20/2022,apple,NaN
225,NaN,NaN,Cold Heart (PNAU Remix),NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,46.0,Elton John,Cold Heart (PNAU Remix) - Single,3:22,03/20/2022,apple,NaN
226,NaN,NaN,25k jacket (feat. Lil Baby),NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,49.0,Gunna,DRIP SEASON 4EVER,2:00,03/20/2022,apple,NaN
227,NaN,NaN,Love Dior Banks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,50.0,Lil Durk,7220,3:11,03/20/2022,apple,NaN
228,NaN,NaN,Girls Want Girls (feat. Lil Baby),NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,51.0,Drake,Certified Lover Boy,3:41,03/20/2022,apple,NaN
229,NaN,NaN,Need To Know,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.0,55.0,Doja Cat,Planet Her,3:30,03/20/2022,apple,NaN
230,NaN,NaN,Wild as Her,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0,56.0,Corey Kent,Wild as Her - Single,3:21,03/20/2022,apple,NaN
231,NaN,NaN,Fair Trade (feat. Travis Scott),NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,57.0,Drake,Certified Lover Boy,4:51,03/20/2022,apple,NaN
232,NaN,NaN,Heavy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,63.0,Nigo,Heavy - Single,3:20,03/20/2022,apple,NaN
233,NaN,NaN,No Love,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0,64.0,Summer Walker,Still Over It,3:51,03/20/2022,apple,NaN
234,NaN,NaN,Sharing Locations (feat. Lil Baby & Lil Durk),NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.0,68.0,Meek Mill,Expensive Pain,2:41,03/20/2022,apple,NaN
235,NaN,NaN,War,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.0,69.0,King Von,What It Means To Be King,2:40,03/20/2022,apple,NaN
236,NaN,NaN,INDUSTRY BABY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,71.0,Lil Nas X,INDUSTRY BABY - Single,3:32,03/20/2022,apple,NaN
237,NaN,NaN,For The Night (feat. Lil Baby & DaBaby),NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.0,72.0,Pop Smoke,Shoot For The Stars Aim For The Moon,3:10,03/20/2022,apple,NaN
238,NaN,NaN,Maybach (feat. Future),NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.0,74.0,42 Dugg,Free Dem Boyz,3:19,03/20/2022,apple,NaN
239,NaN,NaN,"I'm Tired (From ""Euphoria"" An Original HBO Ser...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0,76.0,Labrinth,"I'm Tired (From ""Euphoria"" An Original HBO Ser...",3:07,03/20/2022,apple,NaN
240,NaN,NaN,Nevada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.0,77.0,YoungBoy Never Broke Again,"Sincerely, Kentrell",2:35,03/20/2022,apple,NaN
241,NaN,NaN,Chasin' You,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.0,85.0,Morgan Wallen,If I Know Me,3:25,03/20/2022,apple,NaN
242,NaN,NaN,Worst Day,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.0,86.0,Future,Worst Day - Single,3:04,03/20/2022,apple,NaN
243,NaN,NaN,Buy Dirt (feat. Luke Bryan),NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.0,87.0,Jordan Davis,Buy Dirt,2:47,03/20/2022,apple,NaN
244,NaN,NaN,Cold December,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.0,88.0,Rod Wave,Cold December - Single,3:12,03/20/2022,apple,NaN
245,NaN,NaN,Fall In Love,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.0,90.0,Bailey Zimmerman,Fall In Love - Single,3:52,03/20/2022,apple,NaN
246,NaN,NaN,Bestie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.0,91.0,DaBaby,BETTER THAN YOU,1:51,03/20/2022,apple,NaN
247,NaN,NaN,No Guidance (feat. Drake),NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.0,92.0,Chris Brown,Indigo (Extended),4:20,03/20/2022,apple,NaN
248,NaN,NaN,EVERY CHANCE I GET (feat. Lil Baby & Lil Durk),NaN,NaN,NaN,NaN,NaN,NaN,NaN,92.0,93.0,DJ Khaled,KHALED KHALED,3:56,03/20/2022,apple,NaN
249,NaN,NaN,Evil Twins,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.0,94.0,King Von,What It Means To Be King,1:55,03/20/2022,apple,NaN
250,NaN,NaN,Lo Siento BB:/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.0,95.0,Tainy,Lo Siento BB:/ - Single,3:27,03/20/2022,apple,NaN
251,NaN,NaN,Drip Too Hard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,97.0,Lil Baby,Drip Harder,2:25,03/20/2022,apple,NaN
252,NaN,NaN,Vete,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.0,98.0,Bad Bunny,YHLQMDLG,3:12,03/20/2022,apple,NaN
253,NaN,NaN,Usain Boo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.0,99.0,Kodak Black,Back For Everything,3:06,03/20/2022,apple,NaN
254,NaN,NaN,All Falls Down (feat. Syleena Johnson),NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.0,100.0,Kanye West,The College Dropout,3:43,03/20/2022,apple,NaN

# artist table

In [8]:
spotify_artist = list(spotify.artist)

In [9]:
apple_artist = list(apple.artist)

In [10]:
artists_org = spotify_artist + apple_artist
artists_org

['Glass Animals',
 'Kodak Black',
 'Carolina Gaitán - La Gaita, Mauro Castillo, Adassa, Rhenzy Feliz, Diane Guerrero, Stephanie Beatriz, Encanto - Cast',
 'Nirvana',
 'The Kid LAROI, Justin Bieber',
 'Lil Nas X, Jack Harlow',
 'Gunna, Future, Young Thug',
 'Imagine Dragons, JID, Arcane, League of Legends',
 'Drake, 21 Savage, Project Pat',
 'Megan Thee Stallion, Dua Lipa',
 'The Walters',
 'Kevin Gates, Juicy J',
 'Doja Cat',
 'Dove Cameron',
 'Doja Cat',
 'Justin Bieber',
 'Olivia Rodrigo',
 'Lil Nas X',
 'Elton John, Dua Lipa, PNAU',
 'Steve Lacy',
 'GAYLE',
 'J. Cole',
 'Jack Harlow',
 'Jessica Darrow',
 'Arctic Monkeys',
 'The Neighbourhood',
 'Ed Sheeran',
 'Becky G, KAROL G',
 'Frank Ocean',
 'Em Beihold',
 'Baby Keem, Kendrick Lamar',
 'Doja Cat, SZA',
 'Yeat',
 'AnnenMayKantereit, Giant Rooks',
 'Adele',
 'Lil Durk, Morgan Wallen',
 'lil Shordie Scott',
 'Camila Cabello, Ed Sheeran',
 'NEIKED, Mae Muller, Polo G',
 'Russ, Ktlyn',
 'Tyler, The Creator, Kali Uchis',
 'Elley Duhé',
 'Post Malone, The Weeknd',
 'Labrinth, Zendaya',
 'The Rare Occasions',
 'Labrinth',
 'Olivia Rodrigo',
 'Dua Lipa, DaBaby',
 'Tyler, The Creator',
 'Gunna, Drake',
 'Drake, Lil Baby',
 'Billie Eilish',
 'Latto',
 'Stephanie Beatriz, Olga Merediz, Encanto - Cast',
 'SZA',
 'THE ANXIETY, WILLOW, Tyler Cole',
 'Lauren Spencer-Smith',
 'The Neighbourhood',
 'Tate McRae',
 'The Weeknd',
 'Lil Durk',
 'Doja Cat',
 'Drake, Future, Young Thug',
 'Kanye West',
 'Polo G',
 'Lil Uzi Vert',
 'Morgan Wallen',
 'Doja Cat, The Weeknd',
 'Gunna',
 'Post Malone, Swae Lee',
 'Olivia Rodrigo',
 'Charlie Puth',
 'Ed Sheeran',
 'Yot Club',
 'Kendrick Lamar, Jay Rock',
 'XXXTENTACION',
 'Beach House',
 'Ruth B.',
 'Surf Curse',
 'Mac Miller',
 'Juice WRLD',
 'Rex Orange County, Tyler, The Creator',
 'Farruko',
 'Kid Cudi, MGMT, Ratatat',
 'Juice WRLD',
 'The Killers',
 'Tyga, Doja Cat',
 'Bad Bunny',
 'Vundabar',
 'Sleepy Hallow',
 'Playboi Carti',
 'Eslabon Armado, DannyLux',
 'Kanye West',
 'Nardo Wick, Future, Lil Baby',
 'Juice WRLD',
 'Doja Cat',
 'Olivia Rodrigo',
 'Labrinth, Zendaya',
 'Drake, Travis Scott',
 'The Weeknd, Ariana Grande',
 'Lil Durk, Gunna',
 'Jordan Davis, Luke Bryan',
 'Diane Guerrero, Stephanie Beatriz',
 'Childish Gambino',
 'Polo G',
 'Imagine Dragons',
 'Morgan Wallen',
 'Eminem',
 'Bad Bunny, Jhay Cortez',
 'Dr. Dre, Snoop Dogg',
 'Tainy, Bad Bunny, Julieta Venegas',
 'The Weeknd',
 'Lil Nas X',
 'The Neighbourhood',
 'J. Cole',
 'Lil Baby, Gunna',
 'SZA',
 'Jaymes Young',
 'Kid Cudi',
 'Nirvana',
 'Morgan Wallen',
 'Cochise, $NOT',
 'Eminem',
 'Eminem',
 'J. Cole',
 'JAY-Z, Kanye West',
 'Lil Uzi Vert, Oh Wonder',
 'Gucci Mane, Lil Durk',
 'Tiësto, Ava Max',
 'Fivio Foreign, Kanye West, Alicia Keys',
 'Kanye West',
 'Fleetwood Mac',
 'WILLOW',
 'Chief Keef',
 'Eminem, Nate Dogg',
 'XXXTENTACION, Trippie Redd',
 "4*TOWN (From Disney and Pixar’s Turning Red), Jordan Fisher, Finneas O'Connell, Josh Levi, Topher Ngo, Grayson Villanueva",
 'Post Malone',
 'Nardo Wick, G Herbo, Lil Durk, 21 Savage',
 'Kanye West',
 'Joji',
 'Doja Cat',
 'Playboi Carti, Lil Uzi Vert',
 'The Weeknd',
 'Machine Gun Kelly, Lil Wayne',
 'Eminem, Juice WRLD',
 'Lil Durk, Future',
 'Kendrick Lamar',
 'Machine Gun Kelly, Bring Me The Horizon',
 'Kanye West, Syleena Johnson',
 'King Von, 21 Savage',
 'Ice Cube',
 'Lil Uzi Vert',
 'Taylor Swift',
 'Tame Impala',
 'Kanye West, Dwele',
 'Tame Impala',
 'Bruno Mars, Anderson .Paak, Silk Sonic',
 'The Weeknd',
 'Lil Peep',
 'Offset, Metro Boomin',
 'Baby Keem',
 'Lil Baby, Drake',
 'J. Cole',
 'Trippie Redd, Playboi Carti',
 'JVKE',
 'Tyler, The Creator',
 'Kendrick Lamar, Zacari',
 'Olivia Rodrigo',
 'Travis Scott',
 'Cage The Elephant',
 'Juice WRLD, Marshmello',
 'XXXTENTACION',
 'Rauw Alejandro, Chencho Corleone',
 'Machine Gun Kelly, blackbear',
 'Yeat',
 'Stephanie Beatriz',
 'Lord Huron',
 'Vacations',
 'Coldplay',
 'BØRNS',
 'Joy Again',
 'ERNEST, Morgan Wallen',
 'Cody Johnson',
 'Juice WRLD',
 'CKay',
 'Walker Hayes',
 'J Balvin, Bad Bunny',
 'Chris Stapleton',
 'J. Cole, Cults, Amber Coffman',
 'Kali Uchis',
 'Muni Long',
 'Fitz and The Tantrums',
 'Morgan Wallen',
 'Rod Wave',
 'Kodak Black',
 'Harry Styles',
 'Lil Uzi Vert, Pharrell Williams',
 'Vance Joy',
 'XXXTENTACION',
 'Lil Durk',
 'Lil Durk',
 'Kodak Black',
 'Lil Durk',
 'Lil Durk',
 'Lil Durk',
 'Gunna',
 'Lil Durk',
 'Lil Durk',
 'Lil Durk',
 'Lil Durk',
 'Lil Durk',
 'Lil Durk',
 'Lil Durk',
 'Lil Durk',
 'Lil Durk',
 'Lil Durk',
 'Kevin Gates',
 'Carolina Gaitán - La Gaita',
 'Coi Leray',
 'Lil Durk',
 'Gunna',
 'Muni Long',
 'Drake',
 'Gunna',
 'Lil Durk',
 'Nardo Wick',
 'Becky G.',
 'SleazyWorld Go',
 'Russ',
 'Lucky Daye',
 'Glass Animals',
 'SZA',
 'YoungBoy Never Broke Again',
 'Juice WRLD',
 'King Von',
 'Drake',
 'Nardo Wick',
 'Nicki Minaj',
 'Drake',
 'Frank Ocean',
 'The Kid LAROI',
 'Gucci Mane',
 'LIL SHORDIE SCOTT',
 'Jessica Darrow',
 'Elton John',
 'Adele',
 'Bad Bunny',
 'Gunna',
 'Lil Durk',
 'Drake',
 'Nirvana',
 'Jack Harlow',
 'Megan Thee Stallion',
 'Doja Cat',
 'Corey Kent',
 'Drake',
 'GAYLE',
 'ERNEST',
 'Rod Wave',
 'J. Cole',
 'Stephanie Beatriz',
 'Nigo',
 'Summer Walker',
 'Morgan Wallen',
 'Bad Bunny',
 'Cody Johnson',
 'Meek Mill',
 'King Von',
 'Morgan Wallen',
 'Lil Nas X',
 'Pop Smoke',
 'Lauren Spencer-Smith',
 '42 Dugg',
 'Fivio Foreign',
 'Labrinth',
 'YoungBoy Never Broke Again',
 'Justin Bieber',
 'The Weeknd',
 'Yeat',
 'Ed Sheeran',
 'Doja Cat',
 'Farruko',
 'Morgan Wallen',
 'Morgan Wallen',
 'Future',
 'Jordan Davis',
 'Rod Wave',
 'Yeat',
 'Bailey Zimmerman',
 'DaBaby',
 'Chris Brown',
 'DJ Khaled',
 'King Von',
 'Tainy',
 'Diane Guerrero',
 'Lil Baby',
 'Bad Bunny',
 'Kodak Black',
 'Kanye West']

In [11]:
len(artists_org)

300

In [12]:
len(np.unique(artists_org))

194

In [13]:
artist_list = list(np.unique(artists_org))
artist_list

["4*TOWN (From Disney and Pixar’s Turning Red), Jordan Fisher, Finneas O'Connell, Josh Levi, Topher Ngo, Grayson Villanueva",
 '42 Dugg',
 'Adele',
 'AnnenMayKantereit, Giant Rooks',
 'Arctic Monkeys',
 'Baby Keem',
 'Baby Keem, Kendrick Lamar',
 'Bad Bunny',
 'Bad Bunny, Jhay Cortez',
 'Bailey Zimmerman',
 'Beach House',
 'Becky G, KAROL G',
 'Becky G.',
 'Billie Eilish',
 'Bruno Mars, Anderson .Paak, Silk Sonic',
 'BØRNS',
 'CKay',
 'Cage The Elephant',
 'Camila Cabello, Ed Sheeran',
 'Carolina Gaitán - La Gaita',
 'Carolina Gaitán - La Gaita, Mauro Castillo, Adassa, Rhenzy Feliz, Diane Guerrero, Stephanie Beatriz, Encanto - Cast',
 'Charlie Puth',
 'Chief Keef',
 'Childish Gambino',
 'Chris Brown',
 'Chris Stapleton',
 'Cochise, $NOT',
 'Cody Johnson',
 'Coi Leray',
 'Coldplay',
 'Corey Kent',
 'DJ Khaled',
 'DaBaby',
 'Diane Guerrero',
 'Diane Guerrero, Stephanie Beatriz',
 'Doja Cat',
 'Doja Cat, SZA',
 'Doja Cat, The Weeknd',
 'Dove Cameron',
 'Dr. Dre, Snoop Dogg',
 'Drake',
 'Drake, 21 Savage, Project Pat',
 'Drake, Future, Young Thug',
 'Drake, Lil Baby',
 'Drake, Travis Scott',
 'Dua Lipa, DaBaby',
 'ERNEST',
 'ERNEST, Morgan Wallen',
 'Ed Sheeran',
 'Elley Duhé',
 'Elton John',
 'Elton John, Dua Lipa, PNAU',
 'Em Beihold',
 'Eminem',
 'Eminem, Juice WRLD',
 'Eminem, Nate Dogg',
 'Eslabon Armado, DannyLux',
 'Farruko',
 'Fitz and The Tantrums',
 'Fivio Foreign',
 'Fivio Foreign, Kanye West, Alicia Keys',
 'Fleetwood Mac',
 'Frank Ocean',
 'Future',
 'GAYLE',
 'Glass Animals',
 'Gucci Mane',
 'Gucci Mane, Lil Durk',
 'Gunna',
 'Gunna, Drake',
 'Gunna, Future, Young Thug',
 'Harry Styles',
 'Ice Cube',
 'Imagine Dragons',
 'Imagine Dragons, JID, Arcane, League of Legends',
 'J Balvin, Bad Bunny',
 'J. Cole',
 'J. Cole, Cults, Amber Coffman',
 'JAY-Z, Kanye West',
 'JVKE',
 'Jack Harlow',
 'Jaymes Young',
 'Jessica Darrow',
 'Joji',
 'Jordan Davis',
 'Jordan Davis, Luke Bryan',
 'Joy Again',
 'Juice WRLD',
 'Juice WRLD, Marshmello',
 'Justin Bieber',
 'Kali Uchis',
 'Kanye West',
 'Kanye West, Dwele',
 'Kanye West, Syleena Johnson',
 'Kendrick Lamar',
 'Kendrick Lamar, Jay Rock',
 'Kendrick Lamar, Zacari',
 'Kevin Gates',
 'Kevin Gates, Juicy J',
 'Kid Cudi',
 'Kid Cudi, MGMT, Ratatat',
 'King Von',
 'King Von, 21 Savage',
 'Kodak Black',
 'LIL SHORDIE SCOTT',
 'Labrinth',
 'Labrinth, Zendaya',
 'Latto',
 'Lauren Spencer-Smith',
 'Lil Baby',
 'Lil Baby, Drake',
 'Lil Baby, Gunna',
 'Lil Durk',
 'Lil Durk, Future',
 'Lil Durk, Gunna',
 'Lil Durk, Morgan Wallen',
 'Lil Nas X',
 'Lil Nas X, Jack Harlow',
 'Lil Peep',
 'Lil Uzi Vert',
 'Lil Uzi Vert, Oh Wonder',
 'Lil Uzi Vert, Pharrell Williams',
 'Lord Huron',
 'Lucky Daye',
 'Mac Miller',
 'Machine Gun Kelly, Bring Me The Horizon',
 'Machine Gun Kelly, Lil Wayne',
 'Machine Gun Kelly, blackbear',
 'Meek Mill',
 'Megan Thee Stallion',
 'Megan Thee Stallion, Dua Lipa',
 'Morgan Wallen',
 'Muni Long',
 'NEIKED, Mae Muller, Polo G',
 'Nardo Wick',
 'Nardo Wick, Future, Lil Baby',
 'Nardo Wick, G Herbo, Lil Durk, 21 Savage',
 'Nicki Minaj',
 'Nigo',
 'Nirvana',
 'Offset, Metro Boomin',
 'Olivia Rodrigo',
 'Playboi Carti',
 'Playboi Carti, Lil Uzi Vert',
 'Polo G',
 'Pop Smoke',
 'Post Malone',
 'Post Malone, Swae Lee',
 'Post Malone, The Weeknd',
 'Rauw Alejandro, Chencho Corleone',
 'Rex Orange County, Tyler, The Creator',
 'Rod Wave',
 'Russ',
 'Russ, Ktlyn',
 'Ruth B.',
 'SZA',
 'SleazyWorld Go',
 'Sleepy Hallow',
 'Stephanie Beatriz',
 'Stephanie Beatriz, Olga Merediz, Encanto - Cast',
 'Steve Lacy',
 'Summer Walker',
 'Surf Curse',
 'THE ANXIETY, WILLOW, Tyler Cole',
 'Tainy',
 'Tainy, Bad Bunny, Julieta Venegas',
 'Tame Impala',
 'Tate McRae',
 'Taylor Swift',
 'The Kid LAROI',
 'The Kid LAROI, Justin Bieber',
 'The Killers',
 'The Neighbourhood',
 'The Rare Occasions',
 'The Walters',
 'The Weeknd',
 'The Weeknd, Ariana Grande',
 'Tiësto, Ava Max',
 'Travis Scott',
 'Trippie Redd, Playboi Carti',
 'Tyga, Doja Cat',
 'Tyler, The Creator',
 'Tyler, The Creator, Kali Uchis',
 'Vacations',
 'Vance Joy',
 'Vundabar',
 'WILLOW',
 'Walker Hayes',
 'XXXTENTACION',
 'XXXTENTACION, Trippie Redd',
 'Yeat',
 'Yot Club',
 'YoungBoy Never Broke Again',
 'lil Shordie Scott']

In [14]:
artists = pd.DataFrame()
artists["artist_name"] = artist_list
artists.head()

                                         artist_name
0  4*TOWN (From Disney and Pixar’s Turning Red), ...
1                                            42 Dugg
2                                              Adele
3                     AnnenMayKantereit, Giant Rooks
4                                     Arctic Monkeys

In [15]:
artists["artist_ID"] = artists.index +1
artists.head()

                                         artist_name  artist_ID
0  4*TOWN (From Disney and Pixar’s Turning Red), ...          1
1                                            42 Dugg          2
2                                              Adele          3
3                     AnnenMayKantereit, Giant Rooks          4
4                                     Arctic Monkeys          5

In [103]:
artists = artists[["artist_ID", "artist_name"]]
artists.head()

   artist_ID                                        artist_name
0          1  4*TOWN (From Disney and Pixar’s Turning Red), ...
1          2                                            42 Dugg
2          3                                              Adele
3          4                     AnnenMayKantereit, Giant Rooks
4          5                                     Arctic Monkeys

In [17]:
#combine artist columns in main
main= pd.merge(main, artists, left_on="artist", right_on="artist_name", how="left")
main.head()

,Unnamed: 0_x,spotify_rank,song_name,artist_x,spotify_stream_count,spotify_peak_rank,spotify_previous_rank,spotify_streak_list,spotify_list_date,provider_x,Unnamed: 0_y,apple_rank,artist_y,albums,song_length,apple_date_retrieved,provider_y,artist,artist_name,artist_ID
0,0.0,1.0,Heat Waves,Glass Animals,"934,726",1.0,1,446.0,03/16/2022,spotify,31.0,32.0,Glass Animals,Dreamland,3:58,03/20/2022,apple,Glass Animals,Glass Animals,66.0
1,1.0,2.0,Super Gremlin,Kodak Black,"733,927",2.0,3,108.0,03/16/2022,spotify,2.0,3.0,Kodak Black,Sniper Gang Presents Syko Bob & Snapkatt: Nigh...,3:20,03/20/2022,apple,Kodak Black,Kodak Black,104.0
2,2.0,3.0,We Don't Talk About Bruno,"Carolina Gaitán - La Gaita, Mauro Castillo, Ad...","726,391",1.0,4,81.0,03/16/2022,spotify,18.0,19.0,Carolina Gaitán - La Gaita,Encanto (Original Motion Picture Soundtrack),3:36,03/20/2022,apple,"Carolina Gaitán - La Gaita, Mauro Castillo, Ad...","Carolina Gaitán - La Gaita, Mauro Castillo, Ad...",21.0
3,3.0,4.0,Something In The Way,Nirvana,"723,210",2.0,2,11.0,03/16/2022,spotify,51.0,52.0,Nirvana,Nevermind,3:52,03/20/2022,apple,Nirvana,Nirvana,140.0
4,4.0,5.0,STAY (with Justin Bieber),"The Kid LAROI, Justin Bieber","679,258",1.0,5,251.0,03/16/2022,spotify,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"The Kid LAROI, Justin Bieber","The Kid LAROI, Justin Bieber",171.0

In [18]:
main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 255 entries, 0 to 254
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0_x           200 non-null    float64
 1   spotify_rank           200 non-null    float64
 2   song_name              255 non-null    object
 3   artist_x               200 non-null    object
 4   spotify_stream_count   200 non-null    object
 5   spotify_peak_rank      200 non-null    float64
 6   spotify_previous_rank  200 non-null    object
 7   spotify_streak_list    200 non-null    float64
 8   spotify_list_date      200 non-null    object
 9   provider_x             200 non-null    object
 10  Unnamed: 0_y           100 non-null    float64
 11  apple_rank             100 non-null    float64
 12  artist_y               100 non-null    object
 13  albums                 100 non-null    object
 14  song_length            100 non-null    object
 15  apple_date_retrieved   100 non-null    object
 16  provider_y             100 non-null    object
 17  artist                 200 non-null    object
 18  artist_name            200 non-null    object
 19  artist_ID              200 non-null    float64
dtypes: float64(7), object(13)
memory usage: 41.8+ KB

In [104]:
#create csv
artists.to_csv("final_csvs/artists.csv", index=False)

## Albums

In [19]:
album_list = list(apple.albums)
album_list

['7220',
 '7220',
 'Sniper Gang Presents Syko Bob & Snapkatt: Nightmare Babies',
 '7220',
 '7220',
 '7220',
 'DRIP SEASON 4EVER',
 '7220',
 '7220',
 '7220',
 '7220',
 '7220',
 '7220',
 'Broadway Girls (feat. Morgan Wallen) - Single',
 '7220',
 '7220',
 '7220',
 'Stranger Than Fiction',
 'Encanto (Original Motion Picture Soundtrack)',
 'Blick Blick - Single',
 '7220',
 'DRIP SEASON 4EVER',
 'Public Displays of Affection',
 'Certified Lover Boy',
 'Banking On Me - Single',
 '7220',
 'Me or Sum (feat. Future & Lil Baby) - Single',
 'MAMIII - Single',
 'Sleazy Flow - Single',
 'HANDSOMER (Remix) [feat. Ktlyn] - Single',
 'Over - Single',
 'Dreamland',
 'I Hate U - Single',
 'I Hate YoungBoy - Single',
 'Fighting Demons (Digital Deluxe)',
 'What It Means To Be King',
 'Certified Lover Boy',
 'Who Want Smoke?? (feat. G Herbo, Lil Durk & 21 Savage) - Single',
 'Do We Have A Problem? - Single',
 'Scary Hours 2',
 'channel ORANGE',
 'STAY - Single',
 'Rumors (feat. Lil Durk) - Single',
 'Rocking A Cardigan in Atlanta - Single',
 'Encanto (Original Motion Picture Soundtrack)',
 'Cold Heart (PNAU Remix) - Single',
 '30',
 'EL ÚLTIMO TOUR DEL MUNDO',
 'DRIP SEASON 4EVER',
 '7220',
 'Certified Lover Boy',
 'Nevermind',
 'Nail Tech - Single',
 'Sweetest Pie - Single',
 'Planet Her',
 'Wild as Her - Single',
 'Certified Lover Boy',
 'a study of the human experience volume one - EP',
 'FLOWER SHOPS (THE ALBUM)',
 'By Your Side - Single',
 '2014 Forest Hills Drive',
 'Encanto (Original Motion Picture Soundtrack)',
 'Heavy - Single',
 'Still Over It',
 'If I Know Me',
 'Yonaguni - Single',
 'Human: The Double Album',
 'Expensive Pain',
 'What It Means To Be King',
 'Dangerous: The Double Album',
 'INDUSTRY BABY - Single',
 'Shoot For The Stars Aim For The Moon',
 'Fingers Crossed - Single',
 'Free Dem Boyz',
 'City of Gods - Single',
 'I\'m Tired (From "Euphoria" An Original HBO Series) - Single',
 'Sincerely, Kentrell',
 'Justice',
 'Blinding Lights - Single',
 '2 Alivë',
 '=',
 'Planet Her',
 'Pepas - Single',
 'Dangerous: The Double Album',
 'If I Know Me',
 'Worst Day - Single',
 'Buy Dirt',
 'Cold December - Single',
 'Up 2 Më',
 'Fall In Love - Single',
 'BETTER THAN YOU',
 'Indigo (Extended)',
 'KHALED KHALED',
 'What It Means To Be King',
 'Lo Siento BB:/ - Single',
 'Encanto (Original Motion Picture Soundtrack)',
 'Drip Harder',
 'YHLQMDLG',
 'Back For Everything',
 'The College Dropout']

In [20]:
len(album_list)

100

In [21]:
len(np.unique(album_list))

71

In [22]:
album_unique = list(np.unique(album_list))
album_unique

['2 Alivë',
 '2014 Forest Hills Drive',
 '30',
 '7220',
 '=',
 'BETTER THAN YOU',
 'Back For Everything',
 'Banking On Me - Single',
 'Blick Blick - Single',
 'Blinding Lights - Single',
 'Broadway Girls (feat. Morgan Wallen) - Single',
 'Buy Dirt',
 'By Your Side - Single',
 'Certified Lover Boy',
 'City of Gods - Single',
 'Cold December - Single',
 'Cold Heart (PNAU Remix) - Single',
 'DRIP SEASON 4EVER',
 'Dangerous: The Double Album',
 'Do We Have A Problem? - Single',
 'Dreamland',
 'Drip Harder',
 'EL ÚLTIMO TOUR DEL MUNDO',
 'Encanto (Original Motion Picture Soundtrack)',
 'Expensive Pain',
 'FLOWER SHOPS (THE ALBUM)',
 'Fall In Love - Single',
 'Fighting Demons (Digital Deluxe)',
 'Fingers Crossed - Single',
 'Free Dem Boyz',
 'HANDSOMER (Remix) [feat. Ktlyn] - Single',
 'Heavy - Single',
 'Human: The Double Album',
 'I Hate U - Single',
 'I Hate YoungBoy - Single',
 'I\'m Tired (From "Euphoria" An Original HBO Series) - Single',
 'INDUSTRY BABY - Single',
 'If I Know Me',
 'Indigo (Extended)',
 'Justice',
 'KHALED KHALED',
 'Lo Siento BB:/ - Single',
 'MAMIII - Single',
 'Me or Sum (feat. Future & Lil Baby) - Single',
 'Nail Tech - Single',
 'Nevermind',
 'Over - Single',
 'Pepas - Single',
 'Planet Her',
 'Public Displays of Affection',
 'Rocking A Cardigan in Atlanta - Single',
 'Rumors (feat. Lil Durk) - Single',
 'STAY - Single',
 'Scary Hours 2',
 'Shoot For The Stars Aim For The Moon',
 'Sincerely, Kentrell',
 'Sleazy Flow - Single',
 'Sniper Gang Presents Syko Bob & Snapkatt: Nightmare Babies',
 'Still Over It',
 'Stranger Than Fiction',
 'Sweetest Pie - Single',
 'The College Dropout',
 'Up 2 Më',
 'What It Means To Be King',
 'Who Want Smoke?? (feat. G Herbo, Lil Durk & 21 Savage) - Single',
 'Wild as Her - Single',
 'Worst Day - Single',
 'YHLQMDLG',
 'Yonaguni - Single',
 'a study of the human experience volume one - EP',
 'channel ORANGE']

In [33]:
#make into dataframe
albums = pd.DataFrame()
albums["album_title"]= album_unique
albums.head()

               album_title
0                  2 Alivë
1  2014 Forest Hills Drive
2                       30
3                     7220
4                        =

In [34]:
albums["album_ID"] = albums.index +1
albums.head()

               album_title  album_ID
0                  2 Alivë         1
1  2014 Forest Hills Drive         2
2                       30         3
3                     7220         4
4                        =         5

In [143]:
albums= albums[["album_ID", "album_title"]]
albums.head()

   album_ID              album_title
0         1                  2 Alivë
1         2  2014 Forest Hills Drive
2         3                       30
3         4                     7220
4         5                        =

In [144]:
#create csv
albums.to_csv("final_csvs/albums.csv",index=False)

In [ ]:
#create albumartist table

In [26]:
artist_album = main[["albums","artist_ID"]]
artist_album.head()

                                              albums  artist_ID
0                                          Dreamland       66.0
1  Sniper Gang Presents Syko Bob & Snapkatt: Nigh...      104.0
2       Encanto (Original Motion Picture Soundtrack)       21.0
3                                          Nevermind      140.0
4                                                NaN      171.0

In [27]:
artist_album.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 255 entries, 0 to 254
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   albums     100 non-null    object
 1   artist_ID  200 non-null    float64
dtypes: float64(1), object(1)
memory usage: 6.0+ KB

In [46]:
artist_album = artist_album.dropna()
artist_album.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45 entries, 0 to 194
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   albums     45 non-null     object
 1   artist_ID  45 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.1+ KB

In [125]:
albums2 = pd.merge(albums, artist_album, left_on="album_title", right_on="albums", how="left")
albums2.head()

   album_ID              album_title                   albums  artist_ID
0         1                  2 Alivë                  2 Alivë      191.0
1         2  2014 Forest Hills Drive  2014 Forest Hills Drive       77.0
2         3                       30                       30        3.0
3         4                     7220                     7220      113.0
4         4                     7220                     7220      115.0

In [126]:
albums2.drop_duplicates(subset=['album_ID'])
albums2.head()

   album_ID              album_title                   albums  artist_ID
0         1                  2 Alivë                  2 Alivë      191.0
1         2  2014 Forest Hills Drive  2014 Forest Hills Drive       77.0
2         3                       30                       30        3.0
3         4                     7220                     7220      113.0
4         4                     7220                     7220      115.0

In [131]:
albums2 =albums2.drop(["albums"],axis=1)
albums2.head()

   album_ID              album_title  artist_ID
0         1                  2 Alivë      191.0
1         2  2014 Forest Hills Drive       77.0
2         3                       30        3.0
3         4                     7220      113.0
4         4                     7220      115.0

In [132]:
albums2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77 entries, 0 to 76
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   album_ID     77 non-null     int64
 1   album_title  77 non-null     object
 2   artist_ID    45 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.4+ KB

In [54]:
album_only= albums[["album_title","album_ID"]]
album_only.head()

               album_title  album_ID
0                  2 Alivë         1
1  2014 Forest Hills Drive         2
2                       30         3
3                     7220         4
4                        =         5

In [56]:
#add to main table
main2 = pd.merge(main, album_only, left_on="albums", right_on="album_title", how="left")
main2.head()

,Unnamed: 0_x,spotify_rank,song_name,artist_x,spotify_stream_count,spotify_peak_rank,spotify_previous_rank,spotify_streak_list,spotify_list_date,provider_x,...,artist_y,albums,song_length,apple_date_retrieved,provider_y,artist,artist_name,artist_ID,album_title,album_ID
0,0.0,1.0,Heat Waves,Glass Animals,"934,726",1.0,1,446.0,03/16/2022,spotify,...,Glass Animals,Dreamland,3:58,03/20/2022,apple,Glass Animals,Glass Animals,66.0,Dreamland,21.0
1,1.0,2.0,Super Gremlin,Kodak Black,"733,927",2.0,3,108.0,03/16/2022,spotify,...,Kodak Black,Sniper Gang Presents Syko Bob & Snapkatt: Nigh...,3:20,03/20/2022,apple,Kodak Black,Kodak Black,104.0,Sniper Gang Presents Syko Bob & Snapkatt: Nigh...,58.0
2,2.0,3.0,We Don't Talk About Bruno,"Carolina Gaitán - La Gaita, Mauro Castillo, Ad...","726,391",1.0,4,81.0,03/16/2022,spotify,...,Carolina Gaitán - La Gaita,Encanto (Original Motion Picture Soundtrack),3:36,03/20/2022,apple,"Carolina Gaitán - La Gaita, Mauro Castillo, Ad...","Carolina Gaitán - La Gaita, Mauro Castillo, Ad...",21.0,Encanto (Original Motion Picture Soundtrack),24.0
3,3.0,4.0,Something In The Way,Nirvana,"723,210",2.0,2,11.0,03/16/2022,spotify,...,Nirvana,Nevermind,3:52,03/20/2022,apple,Nirvana,Nirvana,140.0,Nevermind,46.0
4,4.0,5.0,STAY (with Justin Bieber),"The Kid LAROI, Justin Bieber","679,258",1.0,5,251.0,03/16/2022,spotify,...,NaN,NaN,NaN,NaN,NaN,"The Kid LAROI, Justin Bieber","The Kid LAROI, Justin Bieber",171.0,NaN,NaN

In [57]:
main2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 255 entries, 0 to 254
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0_x           200 non-null    float64
 1   spotify_rank           200 non-null    float64
 2   song_name              255 non-null    object
 3   artist_x               200 non-null    object
 4   spotify_stream_count   200 non-null    object
 5   spotify_peak_rank      200 non-null    float64
 6   spotify_previous_rank  200 non-null    object
 7   spotify_streak_list    200 non-null    float64
 8   spotify_list_date      200 non-null    object
 9   provider_x             200 non-null    object
 10  Unnamed: 0_y           100 non-null    float64
 11  apple_rank             100 non-null    float64
 12  artist_y               100 non-null    object
 13  albums                 100 non-null    object
 14  song_length            100 non-null    object
 15  apple_date_retrieved   100 non-null    object
 16  provider_y             100 non-null    object
 17  artist                 200 non-null    object
 18  artist_name            200 non-null    object
 19  artist_ID              200 non-null    float64
 20  album_title            100 non-null    object
 21  album_ID               100 non-null    float64
dtypes: float64(8), object(14)
memory usage: 45.8+ KB

In [120]:
albums2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77 entries, 0 to 76
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   album_title  77 non-null     object
 1   album_ID     77 non-null     int64
 2   albums       45 non-null     object
 3   artist_ID    45 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.0+ KB

In [137]:
albums2 = albums2[["album_ID", "artist_ID"]]
albums2.head()

   album_ID  artist_ID              album_title
0         1      191.0                  2 Alivë
1         2       77.0  2014 Forest Hills Drive
2         3        3.0                       30
3         4      113.0                     7220
4         4      115.0                     7220

In [142]:
mask = albums2.duplicated(subset=["album_ID"])== True
albums2.loc[mask]

    album_ID  artist_ID                                   album_title
4          4      115.0                                          7220
5          4      114.0                                          7220
20        18       70.0                             DRIP SEASON 4EVER
22        19      132.0                   Dangerous: The Double Album
28        24      160.0  Encanto (Original Motion Picture Soundtrack)
29        24       35.0  Encanto (Original Motion Picture Soundtrack)

In [148]:
albums2 = albums2.drop(["album_title"], axis=1)

In [238]:
#make artist_ID into int
albums2['artist_ID'] = albums2['artist_ID'].astype(str).apply(lambda x: x.replace('.0',''))
albums2

    album_ID artist_ID
0          1       191
1          2        77
2          3         3
3          4       113
4          4       115
..       ...       ...
72        67       nan
73        68       nan
74        69         8
75        70        65
76        71        63

[77 rows x 2 columns]

In [239]:
#create csv
albums2.to_csv("final_csvs/albumsArtist.csv", index=False)

# Provider

In [139]:
provider = pd.DataFrame()
provider["provider_ID"] = [1,2]
provider["provider_name"] = ["spotify", "apple"]
provider

   provider_ID provider_name
0            1       spotify
1            2         apple

In [140]:
#create csv
provider.to_csv("final_csvs/provider.csv",index=False)

# Songs

In [60]:
spotify_songs = list(spotify.song_name)
apple_songs = list(apple.song_name)
songs_org = spotify_songs + apple_songs
songs_org

['Heat Waves',
 'Super Gremlin',
 "We Don't Talk About Bruno",
 'Something In The Way',
 'STAY (with Justin Bieber)',
 'INDUSTRY BABY (feat. Jack Harlow)',
 'pushin P (feat. Young Thug)',
 'Enemy (with JID) - from the series Arcane League of Legends',
 'Knife Talk (with 21 Savage ft. Project Pat)',
 'Sweetest Pie',
 'I Love You So',
 'Thinking with My Dick (feat. Juicy J)',
 'Need to Know',
 'Boyfriend',
 'Woman',
 'Ghost',
 'good 4 u',
 'THATS WHAT I WANT',
 'Cold Heart - PNAU Remix',
 'Dark Red',
 'abcdefu',
 'No Role Modelz',
 'Nail Tech',
 'Surface Pressure - From "Encanto"/Soundtrack Version',
 '505',
 'Sweater Weather',
 'Shivers',
 'MAMIII',
 'Lost',
 'Numb Little Bug',
 'family ties (with Kendrick Lamar)',
 'Kiss Me More (feat. SZA)',
 'Monëy so big',
 "Tom's Diner",
 'Easy On Me',
 'Broadway Girls (feat. Morgan Wallen)',
 'Rocking A Cardigan in Atlanta',
 'Bam Bam (feat. Ed Sheeran)',
 'Better Days (NEIKED x Mae Muller x Polo G)',
 'HANDSOMER (Remix) (Feat. Ktlyn)',
 'See You Again (feat. Kali Uchis)',
 'MIDDLE OF THE NIGHT',
 'One Right Now (with The Weeknd)',
 'I\'m Tired - From "Euphoria" An HBO Original Series',
 'Notion',
 'Mount Everest',
 'traitor',
 'Levitating (feat. DaBaby)',
 'NEW MAGIC WAND',
 'P power (feat. Drake)',
 'Wants and Needs (feat. Lil Baby)',
 'Happier Than Ever',
 'Big Energy',
 'The Family Madrigal',
 'I Hate U',
 'Meet Me At Our Spot',
 'Fingers Crossed',
 'Softcore',
 "she's all i wanna be",
 'Blinding Lights',
 'AHHH HA',
 'Get Into It (Yuh)',
 'Way 2 Sexy (with Future & Young Thug)',
 'Heartless',
 'RAPSTAR',
 '20 Min',
 'Wasted On You',
 'You Right',
 'Banking On Me',
 'Sunflower - Spider-Man: Into the Spider-Verse',
 'deja vu',
 'Light Switch',
 'Bad Habits',
 'YKWIM?',
 'Money Trees',
 'Revenge',
 'Space Song',
 'Dandelions',
 'Freaks',
 'The Spins',
 'Cigarettes',
 'OPEN A WINDOW (feat. Tyler, The Creator)',
 'Pepas',
 'Pursuit Of Happiness (Nightmare)',
 'Lucid Dreams',
 'Mr. Brightside',
 'Freaky Deaky',
 'Yonaguni',
 'Alien Blues',
 '2055',
 'Sky',
 'Jugaste y Sufrí',
 'Bound 2',
 'Me or Sum (feat. Future & Lil Baby)',
 'All Girls Are The Same',
 "Ain't Shit",
 'drivers license',
 'All For Us',
 'Fair Trade (with Travis Scott)',
 'Save Your Tears (with Ariana Grande) (Remix)',
 'What Happened To Virgil (feat. Gunna)',
 'Buy Dirt',
 'What Else Can I Do?',
 'Redbone',
 'Martin & Gina',
 'Bones',
 'Whiskey Glasses',
 'The Real Slim Shady',
 'DÁKITI',
 'Still D.R.E.',
 'Lo Siento BB:/ (with Bad Bunny & Julieta Venegas)',
 'Save Your Tears',
 'MONTERO (Call Me By Your Name)',
 'Daddy Issues',
 'Work Out',
 'Drip Too Hard (Lil Baby & Gunna)',
 'Good Days',
 'Infinity',
 'Mr. Rager',
 'Smells Like Teen Spirit',
 'Sand In My Boots',
 'Tell Em',
 'Without Me',
 'Lose Yourself - From "8 Mile" Soundtrack',
 'Wet Dreamz',
 'Ni**as In Paris',
 'The Way Life Goes (feat. Oh Wonder)',
 'Rumors (feat. Lil Durk)',
 'The Motto',
 'City of Gods',
 'Father Stretch My Hands Pt. 1',
 'Dreams - 2004 Remaster',
 'Wait a Minute!',
 'Love Sosa',
 "'Till I Collapse",
 'Fuck Love (feat. Trippie Redd)',
 'Nobody Like U',
 'Circles',
 'Who Want Smoke?? (feat. G Herbo, Lil Durk & 21 Savage)',
 'Praise God',
 'SLOW DANCING IN THE DARK',
 'Streets',
 'Shoota (feat. Lil Uzi Vert)',
 'Die For You',
 'ay! (feat. Lil Wayne)',
 'Godzilla (feat. Juice WRLD)',
 'Petty Too (feat. Future)',
 'HUMBLE.',
 'maybe (feat. Bring Me The Horizon)',
 'All Falls Down',
 "Don't Play That",
 'It Was A Good Day',
 'XO Tour Llif3',
 "All Too Well (10 Minute Version) (Taylor's Version) (From The Vault)",
 'Eventually',
 'Flashing Lights',
 'The Less I Know The Better',
 'Smokin Out The Window',
 'The Hills',
 'Star Shopping',
 'Ric Flair Drip (with Metro Boomin)',
 'trademark usa',
 'Yes Indeed',
 'MIDDLE CHILD',
 'Miss The Rage (feat. Playboi Carti)',
 'this is what falling in love feels like',
 'EARFQUAKE',
 'LOVE. FEAT. ZACARI.',
 'favorite crime',
 'goosebumps',
 'Cigarette Daydreams',
 'Come & Go (with Marshmello)',
 'Jocelyn Flores',
 'Desesperados',
 "my ex's best friend (with blackbear)",
 'Poppin',
 'Waiting On A Miracle',
 'The Night We Met',
 'Young',
 'Sparks',
 'Electric Love',
 'Looking Out for You',
 'Flower Shops (feat. Morgan Wallen)',
 "'Til You Can't",
 'Wishing Well',
 'love nwantiti (ah ah ah)',
 'Fancy Like',
 'LA CANCIÓN',
 'Tennessee Whiskey',
 'She Knows (feat. Amber Coffman & Cults)',
 'telepatía',
 'Hrs and Hrs',
 'Out of My League',
 'Cover Me Up',
 'By Your Side',
 'Love & War',
 'Watermelon Sugar',
 'Neon Guts (feat. Pharrell Williams)',
 'Riptide',
 'Hope',
 'What Happened To Virgil (feat. Gunna)',
 'AHHH HA',
 'Super Gremlin',
 'No Interviews',
 'Petty Too (feat. Future)',
 'Golden Child',
 'pushin P (feat. Young Thug)',
 'Barbarian',
 'Shootout @ My Crib',
 'Smoking & Thinking',
 'Headtaps',
 'Started From',
 'Computer Murderers',
 'Broadway Girls (feat. Morgan Wallen)',
 'Grow Up/Keep It On Speaker',
 'Blocklist',
 'Difference Is (feat. Summer Walker)',
 'Thinking With My Dick (feat. Juicy J)',
 "We Don't Talk About Bruno",
 'Blick Blick',
 'Federal Nightmares',
 'P power (feat. Drake)',
 'Hrs and Hrs',
 'Knife Talk (feat. 21 Savage & Project Pat)',
 'Banking On Me',
 'Pissed Me Off',
 'Me or Sum (feat. Future & Lil Baby)',
 'MAMIII',
 'Sleazy Flow',
 'HANDSOMER (Remix) [feat. Ktlyn]',
 'Over',
 'Heat Waves',
 'I Hate U',
 'I Hate YoungBoy',
 'Sometimes',
 "Don't Play That",
 'Way 2 Sexy (feat. Future & Young Thug)',
 'Who Want Smoke?? (feat. G Herbo, Lil Durk & 21 Savage)',
 'Do We Have A Problem?',
 'Wants and Needs (feat. Lil Baby)',
 'Lost',
 'STAY',
 'Rumors (feat. Lil Durk)',
 'Rocking A Cardigan in Atlanta',
 'Surface Pressure',
 'Cold Heart (PNAU Remix)',
 'Easy On Me',
 'DÁKITI',
 '25k jacket (feat. Lil Baby)',
 'Love Dior Banks',
 'Girls Want Girls (feat. Lil Baby)',
 'Something In The Way',
 'Nail Tech',
 'Sweetest Pie',
 'Need To Know',
 'Wild as Her',
 'Fair Trade (feat. Travis Scott)',
 'abcdefu',
 'Flower Shops (feat. Morgan Wallen)',
 'By Your Side',
 'No Role Modelz',
 'The Family Madrigal',
 'Heavy',
 'No Love',
 'Whiskey Glasses',
 'Yonaguni',
 "'Til You Can't",
 'Sharing Locations (feat. Lil Baby & Lil Durk)',
 'War',
 'Wasted On You',
 'INDUSTRY BABY',
 'For The Night (feat. Lil Baby & DaBaby)',
 'Fingers Crossed',
 'Maybach (feat. Future)',
 'City of Gods',
 'I\'m Tired (From "Euphoria" An Original HBO Series)',
 'Nevada',
 'Ghost',
 'Blinding Lights',
 'Poppin',
 'Shivers',
 'Get Into It (Yuh)',
 'Pepas',
 'Sand In My Boots',
 "Chasin' You",
 'Worst Day',
 'Buy Dirt (feat. Luke Bryan)',
 'Cold December',
 'Monëy so big',
 'Fall In Love',
 'Bestie',
 'No Guidance (feat. Drake)',
 'EVERY CHANCE I GET (feat. Lil Baby & Lil Durk)',
 'Evil Twins',
 'Lo Siento BB:/',
 'What Else Can I Do?',
 'Drip Too Hard',
 'Vete',
 'Usain Boo',
 'All Falls Down (feat. Syleena Johnson)']

In [61]:
len(songs_org)

300

In [62]:
len(np.unique(songs_org))

255

In [63]:
songs_list = list(np.unique(songs_org))

In [64]:
songs = pd.DataFrame()
songs["song_name"] = songs_list
songs.head()

                     song_name
0               'Til You Can't
1             'Till I Collapse
2                       20 Min
3                         2055
4  25k jacket (feat. Lil Baby)

In [65]:
songs["song_ID"] = songs.index +1
songs.head()

                     song_name  song_ID
0               'Til You Can't        1
1             'Till I Collapse        2
2                       20 Min        3
3                         2055        4
4  25k jacket (feat. Lil Baby)        5

In [66]:
len(songs)

255

In [67]:
#merge ID onto main 
main3 = pd.merge(main2, songs, on="song_name", how="left")
main3.head()

,Unnamed: 0_x,spotify_rank,song_name,artist_x,spotify_stream_count,spotify_peak_rank,spotify_previous_rank,spotify_streak_list,spotify_list_date,provider_x,...,albums,song_length,apple_date_retrieved,provider_y,artist,artist_name,artist_ID,album_title,album_ID,song_ID
0,0.0,1.0,Heat Waves,Glass Animals,"934,726",1.0,1,446.0,03/16/2022,spotify,...,Dreamland,3:58,03/20/2022,apple,Glass Animals,Glass Animals,66.0,Dreamland,21.0,88
1,1.0,2.0,Super Gremlin,Kodak Black,"733,927",2.0,3,108.0,03/16/2022,spotify,...,Sniper Gang Presents Syko Bob & Snapkatt: Nigh...,3:20,03/20/2022,apple,Kodak Black,Kodak Black,104.0,Sniper Gang Presents Syko Bob & Snapkatt: Nigh...,58.0,192
2,2.0,3.0,We Don't Talk About Bruno,"Carolina Gaitán - La Gaita, Mauro Castillo, Ad...","726,391",1.0,4,81.0,03/16/2022,spotify,...,Encanto (Original Motion Picture Soundtrack),3:36,03/20/2022,apple,"Carolina Gaitán - La Gaita, Mauro Castillo, Ad...","Carolina Gaitán - La Gaita, Mauro Castillo, Ad...",21.0,Encanto (Original Motion Picture Soundtrack),24.0,221
3,3.0,4.0,Something In The Way,Nirvana,"723,210",2.0,2,11.0,03/16/2022,spotify,...,Nevermind,3:52,03/20/2022,apple,Nirvana,Nirvana,140.0,Nevermind,46.0,183
4,4.0,5.0,STAY (with Justin Bieber),"The Kid LAROI, Justin Bieber","679,258",1.0,5,251.0,03/16/2022,spotify,...,NaN,NaN,NaN,NaN,"The Kid LAROI, Justin Bieber","The Kid LAROI, Justin Bieber",171.0,NaN,NaN,167

In [68]:
main3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 255 entries, 0 to 254
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0_x           200 non-null    float64
 1   spotify_rank           200 non-null    float64
 2   song_name              255 non-null    object
 3   artist_x               200 non-null    object
 4   spotify_stream_count   200 non-null    object
 5   spotify_peak_rank      200 non-null    float64
 6   spotify_previous_rank  200 non-null    object
 7   spotify_streak_list    200 non-null    float64
 8   spotify_list_date      200 non-null    object
 9   provider_x             200 non-null    object
 10  Unnamed: 0_y           100 non-null    float64
 11  apple_rank             100 non-null    float64
 12  artist_y               100 non-null    object
 13  albums                 100 non-null    object
 14  song_length            100 non-null    object
 15  apple_date_retrieved   100 non-null    object
 16  provider_y             100 non-null    object
 17  artist                 200 non-null    object
 18  artist_name            200 non-null    object
 19  artist_ID              200 non-null    float64
 20  album_title            100 non-null    object
 21  album_ID               100 non-null    float64
 22  song_ID                255 non-null    int64
dtypes: float64(8), int64(1), object(14)
memory usage: 47.8+ KB

In [69]:
#retain only song specific information from main joined table
main_songs = main3[["song_name", "artist_ID", "album_ID", "song_length"]]
main_songs.head()

                   song_name  artist_ID  album_ID song_length
0                 Heat Waves       66.0      21.0        3:58
1              Super Gremlin      104.0      58.0        3:20
2  We Don't Talk About Bruno       21.0      24.0        3:36
3       Something In The Way      140.0      46.0        3:52
4  STAY (with Justin Bieber)      171.0       NaN         NaN

In [70]:
#merge into songs df
songs = pd.merge(songs, main_songs, on="song_name")
songs.head()

                     song_name  song_ID  artist_ID  album_ID song_length
0               'Til You Can't        1       28.0      33.0        3:44
1             'Till I Collapse        2       56.0       NaN         NaN
2                       20 Min        3      120.0       NaN         NaN
3                         2055        4      158.0       NaN         NaN
4  25k jacket (feat. Lil Baby)        5        NaN      18.0        2:00

In [110]:
songs = songs[["song_ID", "artist_ID", "album_ID", "song_name", "song_length"]]
songs.head()

   song_ID  artist_ID  album_ID                    song_name song_length
0        1       28.0      33.0               'Til You Can't        3:44
1        2       56.0       NaN             'Till I Collapse         NaN
2        3      120.0       NaN                       20 Min         NaN
3        4      158.0       NaN                         2055         NaN
4        5        NaN      18.0  25k jacket (feat. Lil Baby)        2:00

In [229]:
#make artist_ID and album_ID columns int
songs2 = songs.copy()
songs2['artist_ID'] = songs2['artist_ID'].astype(str).apply(lambda x: x.replace('.0',''))
songs2['album_ID'] = songs2['album_ID'].astype(str).apply(lambda x: x.replace('.0',''))
songs2

,song_ID,artist_ID,album_ID,song_name,song_length
0,1,28,33,'Til You Can't,3:44
1,2,56,nan,'Till I Collapse,NaN
2,3,120,nan,20 Min,NaN
3,4,158,nan,2055,NaN
4,5,nan,18,25k jacket (feat. Lil Baby),2:00
...,...,...,...,...,...
250,251,168,nan,she's all i wanna be,NaN
251,252,91,nan,telepatía,NaN
252,253,80,nan,this is what falling in love feels like,NaN
253,254,6,nan,trademark usa,NaN
254,255,142,nan,traitor,NaN

In [230]:
#create csv
songs2.to_csv("final_csvs/songs.csv", index=False)

# Rank

In [78]:
spotify_rank= pd.DataFrame()
spotify_rank["song_ID"] = main3["song_ID"]
spotify_rank["provider"] = main3["provider_x"]
spotify_rank["rank"] = main3["spotify_rank"]
spotify_rank["date_retrieved"] = main3["spotify_list_date"]
spotify_rank.head()

   song_ID provider  rank date_retrieved
0       88  spotify   1.0     03/16/2022
1      192  spotify   2.0     03/16/2022
2      221  spotify   3.0     03/16/2022
3      183  spotify   4.0     03/16/2022
4      167  spotify   5.0     03/16/2022

In [80]:
mask = spotify_rank.provider =="spotify"
spotify_rank = spotify_rank.loc[mask]
spotify_rank.head()

   song_ID provider  rank date_retrieved
0       88  spotify   1.0     03/16/2022
1      192  spotify   2.0     03/16/2022
2      221  spotify   3.0     03/16/2022
3      183  spotify   4.0     03/16/2022
4      167  spotify   5.0     03/16/2022

In [83]:
spotify_rank = pd.merge(spotify_rank, provider, on="provider", how="left")
spotify_rank

     song_ID provider   rank date_retrieved  provider_ID
0         88  spotify    1.0     03/16/2022            1
1        192  spotify    2.0     03/16/2022            1
2        221  spotify    3.0     03/16/2022            1
3        183  spotify    4.0     03/16/2022            1
4        167  spotify    5.0     03/16/2022            1
..       ...      ...    ...            ...          ...
195      115  spotify  196.0     03/16/2022            1
196      218  spotify  197.0     03/16/2022            1
197      137  spotify  198.0     03/16/2022            1
198      162  spotify  199.0     03/16/2022            1
199       90  spotify  200.0     03/16/2022            1

[200 rows x 5 columns]

In [81]:
apple_rank= pd.DataFrame()
apple_rank["song_ID"] = main3["song_ID"]
apple_rank["provider"] = main3["provider_y"]
apple_rank["rank"] = main3["apple_rank"]
apple_rank["date_retrieved"] = main3["apple_date_retrieved"]
apple_rank.head()

   song_ID provider  rank date_retrieved
0       88    apple  32.0     03/20/2022
1      192    apple   3.0     03/20/2022
2      221    apple  19.0     03/20/2022
3      183    apple  52.0     03/20/2022
4      167      NaN   NaN            NaN

In [236]:
mask = apple_rank.provider =="apple"
apple_rank = apple_rank.loc[mask]
apple_rank.head()

   song_ID provider  rank date_retrieved  provider_ID
0       88    apple  32.0     03/20/2022            2
1      192    apple   3.0     03/20/2022            2
2      221    apple  19.0     03/20/2022            2
3      183    apple  52.0     03/20/2022            2
4      250    apple   7.0     03/20/2022            2

In [237]:
apple_rank = pd.merge(apple_rank, provider, on="provider", how="left")
apple_rank

KeyError: 'provider'

In [234]:
ranks = pd.concat([spotify_rank, apple_rank], ignore_index=True)
ranks

     song_ID provider   rank date_retrieved  provider_ID
0         88  spotify    1.0     03/16/2022            1
1        192  spotify    2.0     03/16/2022            1
2        221  spotify    3.0     03/16/2022            1
3        183  spotify    4.0     03/16/2022            1
4        167  spotify    5.0     03/16/2022            1
..       ...      ...    ...            ...          ...
295      110    apple   95.0     03/20/2022            2
296       52    apple   97.0     03/20/2022            2
297      212    apple   98.0     03/20/2022            2
298      211    apple   99.0     03/20/2022            2
299       11    apple  100.0     03/20/2022            2

[300 rows x 5 columns]

In [235]:
ranks = ranks.drop(columns=["provider"], axis=1)
ranks.head()

   song_ID  rank date_retrieved  provider_ID
0       88   1.0     03/16/2022            1
1      192   2.0     03/16/2022            1
2      221   3.0     03/16/2022            1
3      183   4.0     03/16/2022            1
4      167   5.0     03/16/2022            1

In [95]:
ranks

     song_ID   rank date_retrieved  provider_ID
0         88    1.0     03/16/2022            1
1        192    2.0     03/16/2022            1
2        221    3.0     03/16/2022            1
3        183    4.0     03/16/2022            1
4        167    5.0     03/16/2022            1
..       ...    ...            ...          ...
295      110   95.0     03/20/2022            2
296       52   97.0     03/20/2022            2
297      212   98.0     03/20/2022            2
298      211   99.0     03/20/2022            2
299       11  100.0     03/20/2022            2

[300 rows x 4 columns]

In [151]:
ranks = ranks[["song_ID", "provider_ID", "rank", "date_retrieved"]]
ranks

     song_ID  provider_ID   rank date_retrieved
0         88            1    1.0     03/16/2022
1        192            1    2.0     03/16/2022
2        221            1    3.0     03/16/2022
3        183            1    4.0     03/16/2022
4        167            1    5.0     03/16/2022
..       ...          ...    ...            ...
295      110            2   95.0     03/20/2022
296       52            2   97.0     03/20/2022
297      212            2   98.0     03/20/2022
298      211            2   99.0     03/20/2022
299       11            2  100.0     03/20/2022

[300 rows x 4 columns]

AttributeError: 'function' object has no attribute 'isnull'

In [113]:
#create csv
ranks.to_csv("final_csvs/ranks.csv", index=False)

## Spotify Specific Information

In [97]:
main3.head()

,Unnamed: 0_x,spotify_rank,song_name,artist_x,spotify_stream_count,spotify_peak_rank,spotify_previous_rank,spotify_streak_list,spotify_list_date,provider_x,...,albums,song_length,apple_date_retrieved,provider_y,artist,artist_name,artist_ID,album_title,album_ID,song_ID
0,0.0,1.0,Heat Waves,Glass Animals,"934,726",1.0,1,446.0,03/16/2022,spotify,...,Dreamland,3:58,03/20/2022,apple,Glass Animals,Glass Animals,66.0,Dreamland,21.0,88
1,1.0,2.0,Super Gremlin,Kodak Black,"733,927",2.0,3,108.0,03/16/2022,spotify,...,Sniper Gang Presents Syko Bob & Snapkatt: Nigh...,3:20,03/20/2022,apple,Kodak Black,Kodak Black,104.0,Sniper Gang Presents Syko Bob & Snapkatt: Nigh...,58.0,192
2,2.0,3.0,We Don't Talk About Bruno,"Carolina Gaitán - La Gaita, Mauro Castillo, Ad...","726,391",1.0,4,81.0,03/16/2022,spotify,...,Encanto (Original Motion Picture Soundtrack),3:36,03/20/2022,apple,"Carolina Gaitán - La Gaita, Mauro Castillo, Ad...","Carolina Gaitán - La Gaita, Mauro Castillo, Ad...",21.0,Encanto (Original Motion Picture Soundtrack),24.0,221
3,3.0,4.0,Something In The Way,Nirvana,"723,210",2.0,2,11.0,03/16/2022,spotify,...,Nevermind,3:52,03/20/2022,apple,Nirvana,Nirvana,140.0,Nevermind,46.0,183
4,4.0,5.0,STAY (with Justin Bieber),"The Kid LAROI, Justin Bieber","679,258",1.0,5,251.0,03/16/2022,spotify,...,NaN,NaN,NaN,NaN,"The Kid LAROI, Justin Bieber","The Kid LAROI, Justin Bieber",171.0,NaN,NaN,167

In [175]:
spotify_info = main3[["spotify_stream_count", "spotify_peak_rank", "spotify_previous_rank", "spotify_streak_list", "song_ID"]]
spotify_info.head()

,spotify_stream_count,spotify_peak_rank,spotify_previous_rank,spotify_streak_list,song_ID
0,"934,726",1.0,1,446.0,88
1,"733,927",2.0,3,108.0,192
2,"726,391",1.0,4,81.0,221
3,"723,210",2.0,2,11.0,183
4,"679,258",1.0,5,251.0,167

In [181]:
#rename columns
spotify_info = spotify_info.rename(columns={"spotify_stream_count": "stream_count", "spotify_streak_list":"spotify_streak_days"})
spotify_info.head()

,stream_count,spotify_peak_rank,spotify_previous_rank,spotify_streak_days,song_ID
0,"934,726",1.0,1,446.0,88
1,"733,927",2.0,3,108.0,192
2,"726,391",1.0,4,81.0,221
3,"723,210",2.0,2,11.0,183
4,"679,258",1.0,5,251.0,167

In [182]:
#drop columns with no spotify information
spotify_info = spotify_info.dropna(subset=["spotify_peak_rank"])
spotify_info

,stream_count,spotify_peak_rank,spotify_previous_rank,spotify_streak_days,song_ID
0,"934,726",1.0,1,446.0,88
1,"733,927",2.0,3,108.0,192
2,"726,391",1.0,4,81.0,221
3,"723,210",2.0,2,11.0,183
4,"679,258",1.0,5,251.0,167
...,...,...,...,...,...
195,"221,317",85.0,191,2.0,115
196,"221,283",3.0,—,1.0,218
197,"221,283",34.0,198,4.0,137
198,"221,196",114.0,—,1.0,162
199,"221,126",10.0,—,1.0,90

In [165]:
#check name to make sure streams match online
mask = songs.song_ID== 88
songs.loc[mask]

    song_ID  artist_ID  album_ID   song_name song_length
87       88       66.0      21.0  Heat Waves        3:58

In [184]:
spotify_info= spotify_info[["song_ID", "stream_count", "spotify_peak_rank", "spotify_previous_rank", "spotify_streak_days"]]
spotify_info.head()

,song_ID,stream_count,spotify_peak_rank,spotify_previous_rank,spotify_streak_days
0,88,"934,726",1.0,1,446.0
1,192,"733,927",2.0,3,108.0
2,221,"726,391",1.0,4,81.0
3,183,"723,210",2.0,2,11.0
4,167,"679,258",1.0,5,251.0

In [185]:
spotify_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   song_ID                200 non-null    int64
 1   stream_count           200 non-null    object
 2   spotify_peak_rank      200 non-null    float64
 3   spotify_previous_rank  200 non-null    object
 4   spotify_streak_days    200 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 9.4+ KB

In [212]:
#change data type of stream count
#https://www.codingem.com/string-to-int-in-python/
spotify_info2 = spotify_info.copy()

spotify_info2['stream_count'] = spotify_info2['stream_count'].str.replace(',', '').astype(float)

spotify_info2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   song_ID                200 non-null    int64
 1   stream_count           200 non-null    float64
 2   spotify_peak_rank      200 non-null    float64
 3   spotify_previous_rank  200 non-null    object
 4   spotify_streak_days    200 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 17.5+ KB

In [213]:
spotify_info2

,song_ID,stream_count,spotify_peak_rank,spotify_previous_rank,spotify_streak_days
0,88,934726.0,1.0,1,446.0
1,192,733927.0,2.0,3,108.0
2,221,726391.0,1.0,4,81.0
3,183,723210.0,2.0,2,11.0
4,167,679258.0,1.0,5,251.0
...,...,...,...,...,...
195,115,221317.0,85.0,191,2.0
196,218,221283.0,3.0,—,1.0
197,137,221283.0,34.0,198,4.0
198,162,221196.0,114.0,—,1.0
199,90,221126.0,10.0,—,1.0

In [214]:
#view rows with "-" in previous rank columns
mask = spotify_info2.spotify_previous_rank == "—"
spotify_info2.loc[mask]

,song_ID,stream_count,spotify_peak_rank,spotify_previous_rank,spotify_streak_days
148,248,254094.0,149.0,—,1.0
193,42,222422.0,23.0,—,1.0
196,218,221283.0,3.0,—,1.0
198,162,221196.0,114.0,—,1.0
199,90,221126.0,10.0,—,1.0

In [215]:
#replace - with NaN
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html
spotify_info3 = spotify_info2.copy()
spotify_info3["spotify_previous_rank"] = spotify_info3["spotify_previous_rank"].replace("—", np.nan)
spotify_info3

,song_ID,stream_count,spotify_peak_rank,spotify_previous_rank,spotify_streak_days
0,88,934726.0,1.0,1,446.0
1,192,733927.0,2.0,3,108.0
2,221,726391.0,1.0,4,81.0
3,183,723210.0,2.0,2,11.0
4,167,679258.0,1.0,5,251.0
...,...,...,...,...,...
195,115,221317.0,85.0,191,2.0
196,218,221283.0,3.0,NaN,1.0
197,137,221283.0,34.0,198,4.0
198,162,221196.0,114.0,NaN,1.0
199,90,221126.0,10.0,NaN,1.0

In [216]:
spotify_info3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   song_ID                200 non-null    int64
 1   stream_count           200 non-null    float64
 2   spotify_peak_rank      200 non-null    float64
 3   spotify_previous_rank  195 non-null    object
 4   spotify_streak_days    200 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 17.5+ KB

In [217]:
#create csv
spotify_info3.to_csv("final_csvs/spotify_info.csv", index=False)