In [1]:
import pandas as pd

In [3]:
#read in spotify data
path = "Spotify_data.csv"

spotify = pd.read_csv(path)
spotify.head()

,Unnamed: 0,spotify_rank,song_name,artist,spotify_stream_count,peak_rank,previous_rank,streak_list,list_date
0,0,1,Heat Waves,Glass Animals,"934,726",1,1,446,03/16/2022
1,1,2,Super Gremlin,Kodak Black,"733,927",2,3,108,03/16/2022
2,2,3,We Don't Talk About Bruno,"Carolina Gaitán - La Gaita, Mauro Castillo, Ad...","726,391",1,4,81,03/16/2022
3,3,4,Something In The Way,Nirvana,"723,210",2,2,11,03/16/2022
4,4,5,STAY (with Justin Bieber),"The Kid LAROI, Justin Bieber","679,258",1,5,251,03/16/2022

In [ ]:
#read in apple data

In [ ]:
#join together csv files